html{
	background-color: #5388CD;
}

#plateau div{
	width: 60px;
	height: 60px;
}

#plateau div img{
	text-align: center;
	vertical-align: middle;
}

#wrapper{
	
	width: 70%;
	margin: auto;
}

#tab{
	border: 1px solid black;/**/
	border-radius: 20px;
	margin: auto;	
	color: black;
	width: 748px;
	height:850px;
	font-size: 15px;
	font-weight: bold;
	padding:0;	
}
#tab tr td{
	border: 3px solid black;
	border-radius: 20px;
	min-width: 50px;
}